@charset "UTF-8";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  letter-spacing: 0.04em;
}

.check {
  margin: 0 auto;
  width: 378px;

  &__container {
    display: flex;
    margin-top: 50px;
  }

  &__language {
    margin-right: 50px;
  }

  &__title {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 8px;
    width: 164px;

    h1 {
      color: #000000;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 8px;
    }
  }

  &__list {
    li ~ li {
      margin: 21px 0 0 25px;
    }
  }

  &__search {
    background-color: #cad830;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    line-height: 29px;
    letter-spacing: 0.1em;
    height: 36px;
    width: 171px;
    margin: 0 auto;
    margin-top: 40px;
  }

}
